name: Build and deploy ASP.Net Core app to Azure Web App - Comidify

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.x'
      
      - name: Build with dotnet
        run: dotnet build --configuration Release
        working-directory: ./Comidify.Backend/Comidify.API
      
      - name: dotnet publish
        run: dotnet publish -c Release -o ${{github.workspace}}/publish
        working-directory: ./Comidify.Backend/Comidify.API
      
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{github.workspace}}/publish

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./publish
      
      - name: List files (Debug)
        run: dir ./publish
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_43AA8DFC6B504A4ABECFE7D66C2A305E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_B214CFDD39AB42B2A9D02A0A6DE2D3EB }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F8454462EEB44DB5B8E2D2DF5075125F }}
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'Comidify'
          slot-name: 'Production'
          package: ./publish
